@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Ukraine,
    Lviv.
    ITEA
</address>

<address>
    <strong>Support:</strong> <a href="mailto:alex.antoniuk3@gmail.com">alex.antoniuk3@gmail.com</a><br />
</address>
